In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
tracts = gpd.read_file("/media/palewire/Passport/gentrified-la/us.shp")

In [7]:
df = pd.read_excel(
    "./data/cuny/TEA Percent Housing by Tract.xlsx",
    dtype={"TRACT_GEOID": str}
)

In [8]:
df.head()

,TRACT_GEOID,PCT_HU_TEA1,PCT_HU_TEA2,PCT_HU_TEA3,PCT_HU_TEA4,PCT_HU_TEA6,Total
0,01001020100,100.0,0.0,0,0.0,0.0,100.0
1,01001020200,100.0,0.0,0,0.0,0.0,100.0
2,01001020300,100.0,0.0,0,0.0,0.0,100.0
3,01001020400,100.0,0.0,0,0.0,0.0,100.0
4,01001020500,100.0,0.0,0,0.0,0.0,100.0